body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
  }
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  header nav ul li {
    margin-right: 20px;
  }
  
  header nav a {
    color: #fff;
    text-decoration: none;
  }
  header nav a.active {
    background-color: #555;
    padding: 10px;
    border-radius: 10px;
  }
  
  .hero {
    background-image: url('kfj.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  
  .load-more {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .load-more:hover {
    background-color: #555;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  